<form class="add-item-form" (ngSubmit)="onSubmit($event)">
    <div class="form-row">
        <input 
            type="text" 
            [(ngModel)]="itemName" 
            name="itemName"
            placeholder="Nome do item" 
            maxlength="50" 
            required>
        <select 
            [(ngModel)]="itemCategory" 
            name="itemCategory"
            required>
            <option value="">Categoria</option>
            <option *ngFor="let category of categories" [value]="category">
                {{category}}
            </option>
        </select>
    </div>
    <div class="form-row">
        <input 
            type="number" 
            [(ngModel)]="itemQuantity" 
            name="itemQuantity"
            placeholder="Quantidade" 
            min="1" 
            required>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>